* {
    margin: 0;
}

.header {
    width: 100vw;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-picker-container {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.bg-picker-container {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.color-picker-container {
    background-color: black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
}

.textfield-container {
    height: 100vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textfield {
    height: 90%;
    width: 90%;
}